<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/resources/css/error-styles/error-page1-style.css}" rel="stylesheet">
    <title>not found</title>
</head>
<body>
    <section>
        <p>Error 404</p>
        <p>Page not found</p>
        <form>
            <input type="button" value="Go back" onclick="history.back()" class="btn">
        </form>
    </section>
    
</body>
</html>