<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit task page</title>
    <link th:href="@{/resources/css/admin-styles/edit-task-st.css}" rel="stylesheet">
</head>

<body>
<h1>Add new Task</h1>
<section>

    <form th:action="@{/admin/employee-detail/save-task}" th:object="${task}" method="post" id="change">
        <label>
            <input type="hidden" th:field="*{id}">
        </label>
        <label>
            <p>Task title:<input type="text" th:field="*{title}"/></p>
        </label>
        <br>

        <label>
            <p>Time limitation:<input type="date" th:field="*{timeLimitation}"/></p>
        </label>
        <br>

        <p>Task:</p>

        <label>
            <textarea th:field="*{task}"></textarea>
        </label>

        <br>
    </form>
    <section class="actions">
        <form th:action="@{/admin/main}" method="get">
            <button>Go back</button>
        </form>
        <button th:if="${task.getId() == 0}" th:form="change" class="btn1">Add task</button>
        <button th:if="${task.getId() != 0}" th:form="change" class="btn1">Edit</button>
        <form th:action="@{/admin/employee-detail/delete-task}" th:object="${task}" method="post">
            <label>
                <input type="hidden" th:field="*{id}">
            </label>
            <button class="btn1">Delete task</button>
        </form>
    </section>
</section>

</body>

</html>