<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/resources/css/admin-styles/edit-task-style.css}" rel="stylesheet">
</head>

<body>
<h1>Add new Task</h1>
<section>

    <form th:action="@{/admin/employee-detail/save-task}" th:object="${task}" method="post" class="add">
        <label>
            <input type="hidden" th:field="*{id}">
        </label>
        <label>
            <p>Task title:<input type="text" th:field="*{title}" id="ttl" /></p>
        </label>
        <br>

        <label>
            <p>Time limitation:<input type="text" th:field="*{timeLimitation}" id="time" /></p>
        </label>
        <br>
        <p>Task:</p>
        <label>
            <textarea id="msg" th:field="*{task}"></textarea>
        </label>
        <br>
        <section class="actions">
            <form th:action="@{/admin/main}" method="get" class="back">
                <button>Go back</button>
            </form>
            <button class="btn1">Add task</button>
            <form th:action="@{/admin/employee-detail/delete-task}" method="post" class="delete">
                <button class="btn1">Delete task</button>
            </form>
        </section>
    </form>
</section>

</body>

</html>