<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/resources/css/error-styles/access-denied-style.css}" rel="stylesheet">

    <title>Access-denied</title>
</head>
<body>
    <section>
        <p>Access Denied</p>
        <div>For access to this page please log in</div>
        <br>
        <form action="/login" method="get">
            <button>Log in</button>
        </form>
    </section>
    
</body>
</html>