<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page </title>
    <link th:href="@{/resources/css/registration-styles/login-page-style.css}" rel="stylesheet">
</head>

<body>
<h1 class="title">Registration page</h1>


<section class="register">
    <form th:action="@{/authenticateUser}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            <h5>Invalid username and password. </h5>
        </div>
        <p>Sign In</p>
        <div>
            <label>
                <input type="text" name="username" placeholder="username"/>
            </label>
        </div>
        <br>

        <div>
            <label>
                <input type="text" name="password" placeholder="password"/>
            </label>
        </div>
        <div>
            <h4>Remember Me:</h4>
            <td><label>
                <input type="checkbox" name="remember-me"/>
            </label></td>
        </div>

        <div class="logBtn">
            <button type="submit">Log In</button>
        </div>
        <br>
    </form>
    <form th:action="@{/reg/getRegistration}" method="get">
        <button>Register New User</button>
    </form>

</section>


</body>

</html>